<!DOCTYPE html>
<html>

<head>
    <title>Name tag generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1><span>FCNABC</span> Nametag Generator</h1>

        <form action="{{ url_for('index') }}" method="post">
            <textarea name="names" rows="8" cols="30" placeholder="Enter names (one name per line)" required>{{ names }}</textarea>
            {% if names %}
            <p class="warning">{{ names_warning }}</p>
            {% endif %}

            <div class="form-buttons">
                <button type="submit">Save</button>
                {% if file_generated %}
                <a class="download-button" href="{{ url_for('download') }}" download>Download PDF </a>
                {% endif %}
            </div>
            <div>
                <a class="in-text-link" href="https://github.com/kylezhao101/FCNABC-name-tags">GitHub Repo</a>
            </div>
        </form>
    </div>
</body>

</html>